<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="css/name.css">
    <title>CAP大数据命理测算平台</title>
</head>
<body ontouchstart>
    <div class="tab-content">
        <div class="bar"></div>

        <div class="my_title">
            <p>CAP大数据命理测算平台</p>
        </div>


        <img class="img-box" src="img/home.jpg">

        <div class="story">
            <p>据说，农村有一本非常古老的命理书，里面根据每个人的性别和出生日期对名字做了规定。按照农村这本神书你该叫什么名字</p>
        </div>

        <div class="body_tab">
            <form id="eventForm" method="post" action="result" class="form-horizontal">

                <div class="input-group">
                    <div class="bar"></div>

                    <div class="form-group">
                        <div class="row1">
                            <label>您的性别</label>
                        </div>

                        <div class="row2">
                            <div>
                                <label class="radio-inline"><input type="radio" name="gender" id="gender" value="0" required tips="请选择性别">男</label>
                            </div>
                            <div>
                                <label class="radio-inline"><input type="radio" name="gender" id="gender" value="1">女</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row1">
                            <label>您的生日</label>
                        </div>
                        <div class="row2" id="datePickerBtn">
                            <input type="text" required pattern="[0-9]{4}/[0-9]+/[0-9]+" class="date-input" id="birthday" name="birthday" readonly/>
                        </div>
                    </div>

                    <div class="bar"></div>
                </div>

                <div class="submit">
                    <button type="submit" class="btn">立即测算</button>
                    <div>
                        已有<span><%= site_count %></span>人测算
                    </div>
                </div>
            </form>
        </div>

        <!-- 底部 -->
        <div class="footer">
            <p>测试平台供应者：南洋理工CAP组 <br>
                欢迎大家关注我们的微信公众号：ntucap</p>
        </div>
        <div class="border"></div>
    </div>
    <script type="text/javascript" src="js/weuipicker.js"></script>
    <script type="text/javascript" src="js/weui.min.js"></script>
</body>
</html>