<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <title>显示名字结果</title>
    <link rel="stylesheet" href="css/mbz.css">
</head>
<body>
    <div>
        <%= name %>在农村的名字是<%= cheap_name%>
    </div>
    <div>
        <img src="img/home.jpg">
    </div>

    <div>
        <p>个人性格分析：</p>
        <p><%= description %></p>
    </div>
</body>
</html>