<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
    <title>显示名字结果</title>
</head>
<body>
    <div class="result_box" style="margin : 20px 0px 20px 0px;">
        <%= name %>在农村的名字是<%= cheap_name%>
    </div>
    <div>
        <img class="funny_img" src="<%= img %>" style="width: 100%; height:100%; vertical-align: middle">
    </div>

    <div class="description" style="margin: 20px 0px 0px 0px">
        <p style="text-align: left">个人性格分析：</p>
        <p style="text-align: left;"><%= description %></p>
    </div>

    <% include import.ejs %>
</body>
</html>