body,html {
    height: 100%;
    background-color: #f8f8f8;
}

body {
    font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif, Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
    max-width: 500px;
    min-height: 700px;
    max-height: 780px;
    margin: 0 auto;
}

html {
    background-image: url("../img/bg.jpeg");
}

.tab-content{
    padding: 0 15px 0 15px;
}

.header{
    text-align: center;
    font-size: large;
    margin: 15px 0 5px 0;
    background-color: #fff;
}

.img-box{
    width: 100%;
    vertical-align: middle;
    margin: 0 0 5px 0;
}

.footer{
    text-align: center;
    bottom: 0;
}

.bar {
    width: 100%;
    height: 10px;
}

.body_tab{
    text-align: center;
    margin : 5px 0px 20px 0px;
    padding: 5px 0px 10px 0px;
}

.result_box{
    text-align: center;
    margin : 30px 0px 30px 0px;
    font-size: x-large;
}

.story, .description{
    width: 100%;
    text-align: left;
}

.story{
    text-indent: 2em;
    font-size: medium;
}

.description{
    margin: 20px 0;
    font-size: medium;
}

.border{
    width: 100%;
    height: 1px;
}

.description, .input-group{
    display: block;
    float: left;
    width: 100%;
    border: 1px solid #e2ccb0;
    border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -moz-border-radius:5px;
}


.btn{
    margin: 10px 0 0 0;
    width: 100%;
    height: 40px;
    background-color: #1aad19;
    border-radius:10px;
    -webkit-border-radius:10px;
    -o-border-radius:10px;
    -moz-border-radius:10px;
    font-size: 18px;
    color: #fff;
    overflow: hidden;
}

.form-group{
    display: flex;
    width: 100%;
}


.row1{
    align-items: center;
    justify-content: center;
    padding: 3px 10px 3px 20px;
}

.row2 {
    display: flex;
    justify-content: flex-start;
    padding: 3px 10px 3px 10px;
}



.radio-inline{
    position: relative;
    display: inline-block;
    padding-right: 30px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}

/**
 * Override feedback icon position
 * See http://formvalidation.io/examples/adjusting-feedback-icon-position/
 */
#eventForm .form-control-feedback {
    width: 100vh;
    top: 0;
    right: -15px;
}

.date-input {
    text-align: left;
    color: inherit;
    font-size: medium;
    width: 150px;
    border: 1px #9b9b9b solid;
    background-color: inherit;
    border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    -moz-border-radius:3px;
}
